*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
    height: 100vh;
    width: 100vw;
    object-fit: contain;
    display: grid;
    place-items: center;
    background-color: rgb(228, 227, 227);
}
.app-container{
  display: flex;
  align-items: center;
  height: 70%;
  width: 50%;
  background-color: white;
  box-shadow: -1px -1px 20px 5px black;
}
.filter{
  display: flex;
  flex-direction: column;
  flex: 0.3;
}
.option{
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 8px;
}
.option > input{
  margin: 10px;
}
.chart{
  flex: 0.7;
  object-fit:contain;
  margin:2px
}
